{%load static %}

<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav>
    <a href="{% url 'notebooks:home' %}">Notebook</a>
</nav>
<main>

    {% block content %}
    <!-- Content will go here -->
    <h1>you are on project main page <br> lets build some things </h1>
    {% endblock %}
</main>
</body>
</html>
